* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

html {
    scroll-padding-top: 80px; 
    scroll-behavior: smooth; 
}

body {
    background: #62825D;
}

.container {
    width: 1100px;
    margin: 0 auto;
    background: #62825D;
}

.nav {
    width: 100%;
    padding: 10px 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #526E48;
    position: fixed;
    top: 0;
    left: 0;
}

.nav .nav-logo img {
    margin-top: 9px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    background-color: white;
}

.nav .nav-logo img:hover {
    background-color: #FFB200;
}

.nav .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.nav a {
    text-decoration: none;
    color: white;
}



.nav .nav-menu a {
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 300;
}

.nav .nav-menu a:hover {
    background: #FFB200;
    color: white;
}

.home {
    width: 100%;
    margin-top: 125px;
    color: white;
    display: flex;
}

.personal-info {
    width: 70%;
}

.home-photo img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    background-color: #FFB200;
}

.home .home-name {
    font-size: 32px;
    font-weight: 800;
}

.home .home-profession {
    margin-bottom: 20px;
    color: #FFB200;
}

.home .home-bio {
    width: 65%;
    background: transparent;

}

.home .home-bio p {
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.home .personal-info .home-name {
    color: #FFB200;
}

.home .personal-info .home-name .prefixer {
    color: white;
}


.actions {
    width: 100px;
    height: 30px;
    background-color: #FFB200;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.actions a {
    width: 100%;
    text-align: center;
    padding: 6px 10px;
    color: black;
    text-decoration: none;
}

.actions:hover {
    background: transparent;
    border: 1px solid #FFB200;
    color: white;
}

.actions a:hover {
    color: white;
}

.about{
    margin: 20px;
}

.social-media {
    margin: 75px 0 40px;
    display: flex;
    gap: 30px;
}


.social-media .social-media-link i {
    font-size: 30px;
}

.social-media-link a i {
    color: #ffffff;
}

.social-media-link a i:hover {
    color: #FFB200;
}


.container2{
    margin-top: 40px;
}

.projects{
    width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.project{
    background: transparent;
    border-radius: 10px;
    margin:10px;
    display: flex;
    flex-direction: column;
}



.project img{
    border-radius: 5px;
    object-fit: cover;
}

.project .project-action{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 15px;
    padding: 5px 5px;
}

.project a{
    background-color:#FFB200;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    border-radius: 5px;

}

.project .project-img .web{
    width: 250px;
    height: 200px;
    z-index: -1;
}

.project .project-info .tech-used ul{
    list-style: none;
    display: flex;
    gap:7px;
}

.container3{
    margin: 40px auto;
    width: 800px;
    text-align: center;
    color: white;
}

.skills .framwork{
    color: black;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;

}

.skill .framwork .skill-icon{
    font-size:35px;
    margin: 5px;
}

.skill .framwork img{
    width: 54px;
    height: 54px;
}

.container4{
        width: 1100px;
        margin: 0 auto;
    }
    

.footer{
    background: #97b88b;
}


.footer-info{
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;

}

.form .input{
    height: 30px;
    width: 200px;
    border-color: none;
    border-radius: 5px;
}


.form .input:focus{
    outline: none;  
}
.form .input.submit:hover{
    background: #FFB200;
    color:black;
}
